USE [master]
GO
/****** Object:  Database [CarMarketplaceDB]    Script Date: 28/8/2025 13:47:06 ******/
CREATE DATABASE [CarMarketplaceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarMarketplaceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CarMarketplaceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarMarketplaceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CarMarketplaceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarMarketplaceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarMarketplaceDB]
GO
/****** Object:  Table [dbo].[Buyer]    Script Date: 28/8/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer](
	[BuyerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 28/8/2025 13:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarId] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[CarSubModelId] [int] NULL,
	[ZipCodeId] [int] NULL,
	[CustomerId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarMake]    Script Date: 28/8/2025 13:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarMake](
	[CarMakeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarMakeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarModel]    Script Date: 28/8/2025 13:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarModel](
	[CarModelId] [int] IDENTITY(1,1) NOT NULL,
	[CarMakeId] [int] NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarSubModel]    Script Date: 28/8/2025 13:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSubModel](
	[CarSubModelId] [int] IDENTITY(1,1) NOT NULL,
	[CarModelId] [int] NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarSubModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 28/8/2025 13:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ZipCodeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lookup]    Script Date: 28/8/2025 13:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lookup](
	[LookupId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LookupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quote]    Script Date: 28/8/2025 13:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quote](
	[QuoteId] [int] IDENTITY(1,1) NOT NULL,
	[BuyerId] [int] NULL,
	[ZipCodeId] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[IsCurrent] [bit] NULL,
	[CarId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuoteStatus]    Script Date: 28/8/2025 13:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteStatus](
	[QuoteStatusId] [int] IDENTITY(1,1) NOT NULL,
	[QuoteId] [int] NULL,
	[StatusId] [int] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[StatusDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuoteStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZipCode]    Script Date: 28/8/2025 13:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZipCode](
	[ZipCodeId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ZipCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buyer] ON 

INSERT [dbo].[Buyer] ([BuyerId], [Name]) VALUES (1, N'Christopher Moore')
INSERT [dbo].[Buyer] ([BuyerId], [Name]) VALUES (2, N'Amanda Scott')
INSERT [dbo].[Buyer] ([BuyerId], [Name]) VALUES (3, N'Joshua King')
SET IDENTITY_INSERT [dbo].[Buyer] OFF
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([CarId], [Year], [CarSubModelId], [ZipCodeId], [CustomerId]) VALUES (1, 2018, 1, 1, 1)
INSERT [dbo].[Car] ([CarId], [Year], [CarSubModelId], [ZipCodeId], [CustomerId]) VALUES (2, 2020, 2, 1, 2)
INSERT [dbo].[Car] ([CarId], [Year], [CarSubModelId], [ZipCodeId], [CustomerId]) VALUES (3, 2021, 3, 1, 3)
SET IDENTITY_INSERT [dbo].[Car] OFF
GO
SET IDENTITY_INSERT [dbo].[CarMake] ON 

INSERT [dbo].[CarMake] ([CarMakeId], [Name]) VALUES (3, N'Chevrolet')
INSERT [dbo].[CarMake] ([CarMakeId], [Name]) VALUES (2, N'Ford')
INSERT [dbo].[CarMake] ([CarMakeId], [Name]) VALUES (1, N'Toyota')
SET IDENTITY_INSERT [dbo].[CarMake] OFF
GO
SET IDENTITY_INSERT [dbo].[CarModel] ON 

INSERT [dbo].[CarModel] ([CarModelId], [CarMakeId], [Name]) VALUES (1, 1, N'Corolla')
INSERT [dbo].[CarModel] ([CarModelId], [CarMakeId], [Name]) VALUES (2, 1, N'Hilux')
INSERT [dbo].[CarModel] ([CarModelId], [CarMakeId], [Name]) VALUES (3, 2, N'Focus')
SET IDENTITY_INSERT [dbo].[CarModel] OFF
GO
SET IDENTITY_INSERT [dbo].[CarSubModel] ON 

INSERT [dbo].[CarSubModel] ([CarSubModelId], [CarModelId], [Name]) VALUES (1, 1, N'Corolla XEI')
INSERT [dbo].[CarSubModel] ([CarSubModelId], [CarModelId], [Name]) VALUES (2, 1, N'Corolla SEG')
INSERT [dbo].[CarSubModel] ([CarSubModelId], [CarModelId], [Name]) VALUES (3, 2, N'Hilux SRV')
SET IDENTITY_INSERT [dbo].[CarSubModel] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [Name], [ZipCodeId]) VALUES (1, N'John Smith', 1)
INSERT [dbo].[Customer] ([CustomerId], [Name], [ZipCodeId]) VALUES (2, N'Emily Johnson', 1)
INSERT [dbo].[Customer] ([CustomerId], [Name], [ZipCodeId]) VALUES (3, N'Michael Brown', 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Lookup] ON 

INSERT [dbo].[Lookup] ([LookupId], [Category], [Code], [DisplayName]) VALUES (1, N'QuoteStatus', N'NEW', N'New')
INSERT [dbo].[Lookup] ([LookupId], [Category], [Code], [DisplayName]) VALUES (2, N'QuoteStatus', N'IN_PROGRESS', N'In progress')
INSERT [dbo].[Lookup] ([LookupId], [Category], [Code], [DisplayName]) VALUES (3, N'QuoteStatus', N'PENDING', N'Pending Acceptance')
SET IDENTITY_INSERT [dbo].[Lookup] OFF
GO
SET IDENTITY_INSERT [dbo].[Quote] ON 

INSERT [dbo].[Quote] ([QuoteId], [BuyerId], [ZipCodeId], [Amount], [IsCurrent], [CarId]) VALUES (39, 1, 1, CAST(500.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Quote] ([QuoteId], [BuyerId], [ZipCodeId], [Amount], [IsCurrent], [CarId]) VALUES (40, 2, 1, CAST(510.00 AS Decimal(18, 2)), 0, 1)
INSERT [dbo].[Quote] ([QuoteId], [BuyerId], [ZipCodeId], [Amount], [IsCurrent], [CarId]) VALUES (41, 3, 1, CAST(495.00 AS Decimal(18, 2)), 0, 1)
SET IDENTITY_INSERT [dbo].[Quote] OFF
GO
SET IDENTITY_INSERT [dbo].[QuoteStatus] ON 

INSERT [dbo].[QuoteStatus] ([QuoteStatusId], [QuoteId], [StatusId], [ModifiedBy], [StatusDate]) VALUES (67, 59, 1, N'system', CAST(N'2025-08-27T13:58:12.723' AS DateTime))
INSERT [dbo].[QuoteStatus] ([QuoteStatusId], [QuoteId], [StatusId], [ModifiedBy], [StatusDate]) VALUES (68, 59, 2, N'user1', CAST(N'2025-08-27T14:03:12.723' AS DateTime))
INSERT [dbo].[QuoteStatus] ([QuoteStatusId], [QuoteId], [StatusId], [ModifiedBy], [StatusDate]) VALUES (69, 59, 3, N'user2', CAST(N'2025-08-27T14:08:12.723' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuoteStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ZipCode] ON 

INSERT [dbo].[ZipCode] ([ZipCodeId], [Code]) VALUES (1, N'1000')
INSERT [dbo].[ZipCode] ([ZipCodeId], [Code]) VALUES (2, N'2000')
INSERT [dbo].[ZipCode] ([ZipCodeId], [Code]) VALUES (3, N'3000')
SET IDENTITY_INSERT [dbo].[ZipCode] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CarMake__737584F6DF61BC31]    Script Date: 28/8/2025 13:47:07 ******/
ALTER TABLE [dbo].[CarMake] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Lookup]    Script Date: 28/8/2025 13:47:07 ******/
ALTER TABLE [dbo].[Lookup] ADD  CONSTRAINT [UQ_Lookup] UNIQUE NONCLUSTERED 
(
	[Category] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Quote_Current]    Script Date: 28/8/2025 13:47:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Quote_Current] ON [dbo].[Quote]
(
	[BuyerId] ASC,
	[ZipCodeId] ASC,
	[CarId] ASC
)
WHERE ([IsCurrent]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ZipCode__A25C5AA7581D354F]    Script Date: 28/8/2025 13:47:07 ******/
ALTER TABLE [dbo].[ZipCode] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([CarSubModelId])
REFERENCES [dbo].[CarSubModel] ([CarSubModelId])
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([ZipCodeId])
REFERENCES [dbo].[ZipCode] ([ZipCodeId])
GO
ALTER TABLE [dbo].[CarModel]  WITH CHECK ADD FOREIGN KEY([CarMakeId])
REFERENCES [dbo].[CarMake] ([CarMakeId])
GO
ALTER TABLE [dbo].[CarSubModel]  WITH CHECK ADD FOREIGN KEY([CarModelId])
REFERENCES [dbo].[CarModel] ([CarModelId])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([ZipCodeId])
REFERENCES [dbo].[ZipCode] ([ZipCodeId])
GO
ALTER TABLE [dbo].[Quote]  WITH CHECK ADD FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Buyer] ([BuyerId])
GO
ALTER TABLE [dbo].[Quote]  WITH CHECK ADD FOREIGN KEY([CarId])
REFERENCES [dbo].[Car] ([CarId])
GO
ALTER TABLE [dbo].[Quote]  WITH CHECK ADD FOREIGN KEY([ZipCodeId])
REFERENCES [dbo].[ZipCode] ([ZipCodeId])
GO
ALTER TABLE [dbo].[QuoteStatus]  WITH CHECK ADD FOREIGN KEY([QuoteId])
REFERENCES [dbo].[Quote] ([QuoteId])
GO
ALTER TABLE [dbo].[QuoteStatus]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[Lookup] ([LookupId])
GO
USE [master]
GO
